.about-section {
  padding: 2rem;
  //  max-width: 800px;
  margin: 0 auto;

  text-align: center;
  min-height: 82vh;
}

.team-section {
  display: flex;

  align-content: center;
  justify-content: center;
  gap: 2rem;

  .card {
    background: linear-gradient(155deg, #e4e4e4, #c8c8c8);
    width: 300px;
    min-height: 400px;
  }
}
